.add-expense-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.add-expense-form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-header h3 {
  font-size: 18px;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-button:hover {
  color: #555;
}

.add-expense-form label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.add-expense-form input,
.add-expense-form select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.add-expense-form button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
  width: 170px;
}

.add-expense-form .form-header .close-button {
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-expense-form button:hover {
  background-color: #45a049;
}

.add-expense-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-expense-form .close-button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-expense-form .close-button:hover {
  background-color: #555;
}

.add-expense-form .suggest-category-button .openai-logo {
  height: 20px;
}

.add-expense-form .suggest-category-button {
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
  padding: 5px 15px;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-expense-form .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
